.dm {
  .dm-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  .dm-main {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    .dm-main-title {
      height: 100px;
      border: 1px solid #000;
    }
    .dm-main-list {
      height: 200px;
      overflow-y: scroll;
      li {
        height: 80px;
      }
    }
  }
}
