.dm {
  .dm-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  .dm-main {
    height: 100%;
    background: #fff;
    position: relative;
    z-index: 1;
    .dm-main-title {
      height: 60px;
      border: 1px solid #000;
    }
    .dm-main-list {
      height: 100%;
      overflow-y: scroll;
      li {
        height: 200px;
      }
    }
  }
  :global(.zp-ant-drawer-body) {
    padding: 0;
  }
}
